body {
  margin: 0px;
  font-family: $primary-font, sans-serif;
  font-weight: 400 !important;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

pre {
  background-color: $light-grey;
  padding: 20px;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
}
