.contact-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  flex-direction: column;

  .contact-modal-wrapper {
    display: grid;
    grid-template-rows: 60px 60px 60px;
    justify-content: start;
    align-items: end;

    border-top: 8px solid $primary-color;
    height: 50vh;
    width: 50vw;
    background-color: white;
    font-size: 1.5em;
    color: black;

    .phone {
      display: grid;
      grid-template-columns: 50px 1fr;
      align-items: center;

      svg {
        justify-self: center;
      }
    }

    .email {
      display: grid;
      align-items: center;
      grid-template-columns: 50px 1fr;
      svg {
        justify-self: center;
      }
    }

    .address {
      display: grid;
      align-items: center;
      grid-template-columns: 50px 1fr;
      svg {
        justify-self: center;
      }
    }
  }
}

@media (max-width: 880px) {
  h1 {
    padding: 0px 20px 0px 20px;
  }
  .contact-modal-wrapper {
    width: 100% !important;
  }
}
