.footer-container {
  background-color: black;
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .social {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 500px;
    a {
      font-size: 30px;
      color: white;
      transition: 0.2s ease-in-out;
      &:hover {
        color: $primary-color;
      }
    }
  }

  img {
    height: 80px;
    margin-top: 30px;
  }

  h2 {
    margin-top: 30px;
    color: white;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .social {
    width: 100%;
  }
}
