.title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px 100px;

  border-bottom-left-radius: 200px;
  z-index: 1;
  background-color: white;
  position: relative;

  a {
    text-align: center;
    line-height: 40px;

    @include btn();
    align-self: center;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 40px;
    align-self: center;
  }

  a,
  h3 {
    justify-self: center;
  }
}

.title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 100px 0px 100px 0px;

  .name {
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 80px;
    display: grid;
    grid-template-columns: 50px 1fr;
    height: 300px;
    grid-gap: 30px;
    width: 66%;
    padding: 50px 50px 20px 50px;
    filter: drop-shadow(10px 10px 5px $grey);
  }

  h1 {
    font-size: 80px;
    font-weight: 400;
  }

  h3 {
    margin-top: 75px;
    font-size: 40px;
  }

  b {
    color: $primary-color;
    font-weight: 400;
  }

  .last-name {
    margin-left: 70px;
    margin-top: -50px;
  }
}

.profile-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-background {
  background-color: black;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-top: -200px;
}

.skills-title {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
  }
}

@media (max-width: 1024px) {
  .title {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0px;
  }
  .title-wrapper {
    grid-template-columns: 1fr;
  }
  .title {
    h1 {
      font-size: 70px;
    }
  }
}

@media (max-width: 880px) {
  .title-wrapper {
    h3 {
      font-size: 30px;
    }
    .title {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      h1 {
        font-size: 90px;
      }
    }

    .backgroundImg {
      display: none;
    }
  }
}

@media (max-width: 640px) {
  .title-wrapper {
    grid-template-rows: 500px 100px 100px;
    .title {
      .name {
        grid-gap: 0px;
        height: 200px;
        font-size: 50px;
      }
      h3 {
        font-size: 20px;
        border-bottom: 8px solid $primary-color;
        padding-bottom: 20px;
      }
    }
    h3 {
      margin-top: 20px;
    }
  }
}
