@import "./variables.scss";
@import "./mixins.scss";
@import "./base.scss";
@import "./button.scss";
@import "./navigation.scss";
@import "./home.scss";
@import "./auth.scss";
@import "./footer.scss";
@import "./loaders.scss";
@import "./modals.scss";
@import "./about.scss";
@import "./contact.scss";

// PORTFOLIO
@import "./portfolio/portfolio.scss";
@import "./portfolio/portfolio-manager.scss";
@import "./portfolio/portfolio-form.scss";

// BLOG
@import "./blog/blog.scss";
@import "./blog/blog-detail.scss";
@import "./blog/blog-form.scss";
@import "./blog/react-draft-wysiwyg.scss";
@import "./blog/rich-text-editor.scss";

// TYPIST
@import "../../node_modules/react-typist/dist/Typist.css";

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
