.nav-wrapper {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  border-top: 10px solid $primary-color;
  background-color: white;

  .right-side {
    height: 75%;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;

    a {
      color: black;
      transition: 0.25s ease-in-out;

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }

  .left-side {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: center;
    margin-top: 10px;

    .logo-wrapper {
      height: 75%;
    }

    img {
      height: 100%;
    }
  }

  .nav-link-wrapper {
    height: 22px;
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;

    a {
      color: black;
      text-decoration: none;
      transition: 0.25s ease-in-out;

      &:hover {
        color: $primary-color;
      }
    }

    .nav-link-active {
      color: $primary-color;
    }
  }
}

.navbarScroll {
  transition: 0s;
  position: fixed;
  top: 0;
  margin-top: 10px;
  z-index: 99;
  width: 33% !important;
  height: 75px !important;
  background-color: white;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  right: 0;
  margin-right: 25px;
  border-radius: 100px;
}

@media (max-width: 880px) {
  .navigation-mobile {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
  }
  .menu {
    margin: 30px 30px 0px 0px;
  }
  .right-side {
    width: 100vw !important;
    margin-top: 110px;
    background-color: white;
    height: 100vh !important;
    z-index: 1000;
    flex-direction: column;
    position: fixed;
  }

  .navbarScroll {
    display: none !important;
  }
}
