.DraftEditor-root {
  border: 3px solid black;
  border-radius: 10px;
  height: 100%;
}

.rdw-image-modal {
  left: -215px;
}

.rdw-emoji-modal {
  left: -169px;
}

.rdw-embedded-modal {
  left: -124px;
}
