.portfolio-items-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .portfolio-items-wrapper {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    box-sizing: border-box;
  }
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0px;
  z-index: 100;

  .btn {
    margin-bottom: 20px;
    color: white;
    font-family: $primary-font, sans-serif;
    @include base-btn();
  }
}

.portfolio-item-wrapper {
  position: relative;

  .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    transition: 0.2s ease-in-out;
  }

  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

    .subtitle {
      font-family: $primary-font, sans-serif;
      transition: 0.5s ease-in-out;
      font-size: 20px;
      font-weight: 700;
      color: white;
    }
  }

  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
  }
}

.image-blur {
  filter: brightness(0%);
}

@media (max-width: 1024px) {
  .portfolio-items-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 880px) {
  .portfolio-items-wrapper {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .portfolio-img-background {
    height: 200px;
  }
}

@media (max-width: 640px) {
  .body {
    width: 100vw;
  }
  .portfolio-items-wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 500px) {
  .portfolio-items-wrapper {
    width: 80vw;
    .img-text-wrapper {
      padding: 0px;
    }
  }

  .btn-wrapper {
    height: 50px;

    .btn {
      font-size: 12px;
    }
  }
  .portfolio-img-background {
    height: 200px !important;
  }
}
